{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Content</title>
</head>
<body>
    <h1>Hello Dynamic Content</h1>
    <h2>Welcome {{name}}</h2>
</body>
</html>
<!DOCTYPE html>
<html> --}}

<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLinks}}
    <link rel="stylesheet" src="css/style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Volkhov&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

h1 {
    font-size: 4rem;
    margin: 0;
}

h2 {
    font-size: 4rem;
    margin: 0;
}

button,
a {
    text-decoration: none;
    cursor: pointer;
    font-size: 1.7rem;
    font-family: 'Open Sans', sans-serif;
    color: black;
}

p {
    font-size: 2rem;
}

ul {
    list-style-type: none;
}

body {
    background: url('https://www.larenovation.net/assets/img/hero/hero-bg.svg');
    background-repeat: no-repeat;
    background-position: right top;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    margin: 0 7% 0 7%;
}

nav {
    display: flex;
    flex-direction: row;
    width: 85%;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(6px);
    z-index: 100;
    padding: 0 7% 0 7%;
    margin: 0;
}

nav h2 {
    font-family: 'Roboto', sans-serif;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
}

nav li {
    display: block;
    margin: 0 3rem 0 3rem;

}

.last {
    margin: 0;
}

nav button {
    border: 1px solid #212832;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: transparent;
    width: 100px;
    height: 40px;
    font-weight: bold;
    padding-bottom: 5px;
    transition: all 0.3s ease-out;
}
nav select {
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    background: transparent;
}

nav a,
nav select {
    transition: color 0.2s ease-out;
}

nav a:hover,
nav select:hover {
    color: #DD9D11;
}

nav button:hover {
    background: black;
    color: white;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    margin-bottom: 7rem;
}

.travimg {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.intro {
    display: flex;
    flex-direction: column;
    width: 45%;
    justify-content: center;
}

.intro span {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #DF6951;
    margin-bottom: 5%;
}

.mainhead {
    font-family: 'Volkhov', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 84px;
    line-height: 89px;
    /* or 106% */
    letter-spacing: -0.04em;
    /* 1st */
    color: #181E4B;
    position: relative;
}

.mainhead:before {
    content: '';
    position: absolute;
    right: -1rem;
    top: 7.3rem;
    width: 54%;
    height: 1rem;
    background-image: url('https://www.larenovation.net/assets/img/hero/shape.svg');
    background-size: contain;
    z-index: -1;
}

.intro p,
.intro a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 30px;
    /* or 187% */
    color: #5E6282;
}

.intro button {
    background: #F1A501;
    box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
    border-radius: 8px;
    border: none;
    color: white;
    height: 50px;
    width: 160px;
    padding-bottom: 5px;
}

.intro button:hover,
.intro button:active {
    background: #d49610;
}

.intro img {
    vertical-align: middle;
    height: 80px;
    width: 80px;
    margin: 10px 0 0 10px;
}

.footer {
    width: 100%;
    height: 50px;
    background-color: #0a183d;
    margin-top: auto;
}

.footer p{
    color: white;
    text-align: center;
    line-height: 50px;
}
    </style>
</head>

<body>
    <div style="height: 30px; backdrop-filter: blur(8px); background-color: rgba(255,255,255,0.3);"></div>
    {{!-- calling the header component --}}
    {{>header}} 

    <div class="container">
        <section id="header">
            <div class="intro">
                <span>Best Destinations around the world</span>
                <h1 class="mainhead">Travel, enjoy and live a new and full life</h1>
                <p>Built Wicket longer admire do barton vanity itself do in it. Preferred to sportsmen it engrossed
                    listening.
                    Park gate sell they west hard for the.</p>
                <div>
                    <button>Find out more</button>
                    <a href="#"> <img src="https://www.gobbihotel.it/wp-content/themes/gobbi/img/play-video.png"
                            alt="play-btn">Play Demo</a>
                </div>
            </div>
            <div>
                <img src="https://www.larenovation.net/assets/img/hero/hero-img.png" alt="traveller" class="travimg">
            </div>
        </section>
        {{>footer}}
        </div>
        </body>
        </html>