<nav>
    <h2>Jadoo {{name}} !</h2> 
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="#destination">Destinations</a></li>
        <li><a href="#book">Bookings</a></li>
        <li><a href="#!">Login</a></li>
        <li><button>Sign Up</button></li>
        <li class="last"><select>
                <option value="english" selected>EN</option>
                <option value="hindi">HN</option>
            </select></li>
    </ul>
</nav>